body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color:hsl(0, 0%, 90%);
    width: 100%;
    height: 100%;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
    margin-top: 2%;
    padding: 8px 5px 15px 10px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.header__float1 {
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
    margin-top: 2%;
    padding: 8px 5px 15px 10px;
}

.header__float2 {
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
    margin-top: 2%;
    padding: 8px 5px 15px 10px;
}

.header__float3 {
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
    margin-top: 2%;
    padding: 8px 5px 15px 10px;
}

.rightsidebar {
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
    margin-top: 2%;
    padding: 8px 5px 15px 10px;
} 

.aside_block {
    background-color: whitesmoke;
    width: 100%;
    text-align: left;
    margin-top: 2%;
} 

.aside__link {
    width: 100%;
    display: block;
    background-color: hsl(0, 0%, 90%);
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 16px 5px 20px;
}

@media (min-width: 769px) and (max-width: 1023px)  {

    #wrapper {
        overflow-y: hidden;
    }
    header {
        margin-right: -5%;
    }

    .header__float1 {
        float: left;
        width: calc(100% - 50% - 80px);
        margin-left: 4%; 
        padding: 7px 4px 10px 11px;
        margin-top: 2%;
    }  

    .header__float2 {
        float: left;
        width: calc(100% - 50% - 80px);
        margin-left: 4%;
        padding: 7px 4px 10px 11px;
        margin-top: 2%; 
    }

    .header__float3 {
        float: left;
        width: 85%;
        margin-left: 4%;
        padding: 7px 4px 10px 11px;
        margin-top: 2%;
    }
    
    #content {
        float: left;
        width: calc(100% - 50% - 80px);
        margin-left: 4%;
        padding: 7px 4px 10px 11px;
    }

    .rightsidebar {
        float: left;
        width: calc(100% - 45% - 80px);
        margin-left: 4%;
        padding: 7px 4px 10px 11px;
        margin-top: 2%;
        position: relative;
    }

    .rightsidebar::after {
        content: '';
        position: absolute;
        background-color:  whitesmoke;
        height: 9999px;
        top: 100%;
        left: 0px;
        right: 0px;
    }
}

@media (min-width: 1024px) {
    #wrapper {
        overflow-y: hidden;  
    }

    header {
        margin-right: -20%;
    }

    .header__float1 {
        float: left;
        width: 25%;
        min-height: 25vh;
        margin-left: 2%; 
        padding: 7px 4px 10px 11px;
        margin-top: 5%;
    }  

    .header__float2 {
        float: left;
        width: 25%;
        min-height: 25vh;
        margin-left: 2%;
        padding: 7px 4px 10px 11px;
        margin-top: 5%; 
    }

    .header__float3 {
        float: left;
        width: 25%;
        min-height: 25vh;
        margin-left: 2%;
        padding: 7px 4px 10px 11px;
        margin-top: 5%;
        margin-right: 2%;
    }
    
    #content {
        float: left;
        width: 65%;
        min-height: 50vh;
        margin-left: 2%;
        padding: 60px 4px 10px 11px;
        margin-top: 5%;
    }

    .rightsidebar {
        float: left;
        width: 30%;
        margin-left: 0px;
        padding: 60px 4px 10px 11px;
        margin-top: 5%;
        position: relative;
    }

    .rightsidebar::after {
        content: '';
        position: absolute;
        background-color:  whitesmoke;
        height: 9999px;
        top: 100%;
        left: 0px;
        right: 0px;
    }
}